@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --accent-color: rgb(200, 200, 220);
  --text-color: #000000;
  --input-color: #ffffff;
  --btnText-color:rgb(100, 150, 182);
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: Poppins, Segoe UI, sans-serif;
  font-size: 12pt;
  color: var(--text-color) !important;
  text-align: center;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "navbar navbar"
    "sidebar main"
    "sidebar footer";
  background: url("../images/background10.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  overflow: hidden;
}

nav {
  height: 5rem;
  top: 0;
  position: sticky;
  grid-area: navbar;
  background-color: transparent;
  color: var(--text-color);
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  z-index: 10;
}

aside {
  height: 100vh;
  display: none;
  width: 100%;
  top: 0;
  position: sticky;
  align-self: start;
  grid-area: sidebar;
  background-color: var(--accent-color);
  transition: transform 0.3s ease-in-out;
}

main {
  grid-area: main;
  color: var(--text-color);
  width: 100vw;
  overflow: auto;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  padding: 20px;
  background-color: transparent;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: calc(100vh - 10rem);
  width: 100%;
}

.search-container-main {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: var(--accent-color);
  border-radius: 5px;
  padding: 5px 10px;
  width: 100%;
}

@media(max-width: 455px) {

  .search-bar,
  .search-container-main {
    max-width: 270px;
  }

  .search-customer-container {
    max-width: 100%;
  }
}


.search-container {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: var(--accent-color);
  border-radius: 1px;
  padding: 5px 10px;
  width: 90%;
}

.search-bar {
  flex: 1;
  border: none;
  background: transparent;
  outline: none;
  font-size: 20px;
  padding: 5px;
  font-weight: bold;
  text-align: center;
}

.search-icon {
  position: absolute;
  left: 10px;
  width: 10%;
  height: 30px;
  cursor: pointer;
  filter: brightness(0) invert(1);
}

.menu-btn {
  background-color: var(--accent-color);
  width: 50px;
  height: 40px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.menu-btn img {
  width: 70%;
  height: 70%;
  filter: brightness(0) invert(1);
}

.logo {
  width: 50px;
  height: 40px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 800px) {
  body {
    grid-template-columns: 1fr;
  }

  aside {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: var(--accent-color);
    transition: transform 0.3s ease-in-out;
    transform: translateX(-100%);
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--accent-color);
  }

  
  #close-btn {
    border: none;
    background-color: var(--accent-color);
    cursor: pointer;
  }

  #close-btn img {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    filter: brightness(0) invert(1);
  }

  .sidebar-link {
    position: relative;
    text-decoration: none;
    background-color: var(--accent-color);
    color: var(--input-color);
    font-size: 30px;
    border-bottom: 2px solid #ddd;
    cursor: pointer;
    padding: 5px;
    width: 95%;
    transition: background-color 0.3s ease;
    text-align: center;
  }

  .show {
    transform: translateX(0);
  }
}


footer {
  position: sticky;
  bottom: 0;
  background-color: transparent;
  grid-area: footer;
  height: 5rem;
  z-index: 10;
}


.bottom-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  bottom: 0;
  border-top: 1px double var(--input-color);
  box-sizing: border-box;
  left: 0;
  width: 100%;
  z-index: 11;
  height: 5rem;
  background: rgba(255, 255, 255, 0.1);
  transition: background 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.nav-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  position: relative;
  bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.nav-btn img {
  width: 24px;
  height: 24px;
  filter: grayscale(100%) opacity(0.6);
  transition: filter 0.3s ease-in-out, opacity 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.nav-btn.active img {
  filter: brightness(0);
  opacity: 1;
  transform: translateY(35%);
}

.active-indicator {
  content: "";
  height: 3px;
  position: absolute;
  background-color: rgb(0, 0, 0);
  top: 0;
  left: 0;
  transform: translateX(0);
  transition: transform 0.1s;
}

.pop {
  border: none;
  background-color: transparent;
  display: flex;
  align-items: flex-start;

}

.pop.active {
  transform: rotate(45deg);
}

.pop img {
  width: 50px;
  height: 50px;
  margin: 10px;
  filter: grayscale(10%) brightness(100%) invert(92%) sepia(60%) saturate(150%) hue-rotate(210deg);
}

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 15px;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  transform: translate(0) scale(0);
  background: transparent;
  transition: all 0.8s ease-in-out;
}

.slider.active {
  transform: translateY(-5rem) scaleX(1.1);
  border-radius: 20px;
  width: 200px;
  height: 50px;
  backdrop-filter: blur(3px);
  border-top: 1px solid var(--text-color);
  border-bottom: 1px solid var(--text-color);
}
.slider button {
  border: 1px solid var(--text-color);
  background-color: var(--accent-color);
  position: absolute;
  opacity: 0;
  left: 0;
  border-radius: 20px;
  transition: transform 0.3s ease-in-out;
  display: flex;          
  justify-content: center;
  align-items: center; 
  width: 50px;        
  height: 50px;
}

.slider button img {
  width: 25px;    
  height: 25px;   
  object-fit: contain;
}

.slider.active button:nth-child(1) {
  transition-delay: 0.1s;
  transform: translateX(0);
  opacity: 1;
}

.slider.active button:nth-child(2) {
  transition-delay: 0.2s;
  transform: translateX(50px);
  opacity: 1;
}

.slider.active button:nth-child(3) {
  transition-delay: 0.3s;
  transform: translateX(100px);
  opacity: 1;
}

.slider.active button:nth-child(4) {
  transition-delay: 0.4s;
  transform: translateX(150px);
  opacity: 1;
}


.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: var(--text-color);
  color: var(--accent-color);
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  text-align: center;
}

.close-modal {
  float: right;
  font-size: 50px;
  cursor: pointer;
  color: var(--accent-color);
}

#feedback-text {
  width: 100%;
  height: 100px;
  padding: 10px;
  border-radius: 5px;
  background-color: var(--accent-color);
  color: var(--text-color);
}

#submit-feedback {
  background-color: var(--accent-color);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.feedback-message {
  color: Yellow;
  margin-top: 10px;
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  align-items: center;
}

.func-btn {
  background-color: transparent;
  color: var(--text-color);
  font-weight: bold;
  width: 100%;
  max-width: 300px;
  border: 4px groove var(--input-color);
  padding: 15px 25px;
  border-radius: 12px;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.func-btn:active {
  transform: scale(0.95);
}


.product-form {
  background-color: transparent;
  color: var(--text-color);
  width: 100%;
  padding: 2px;
  border-radius: 10px;
  text-align: left;
}

.product-form label {
  display: block;
  font-weight: bold;
}

.product-form input {
  width: 100%;
  height: 50px;
  margin-bottom: 0px;
  border: 2px solid var(--accent-color);
  border-radius: 5px;
  background-color: var(--input-color);
  color: var(--accent-color);
  font-size: 20px;
  font-weight: bolder;
}

.file-input {
  display: none;
}

#customFileButton {
  background-color: var(--accent-color);
  color: var(--input-color) !important;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  width: 100%;
  margin-bottom: 20px;
}
#customerFileButton:active{
  transform: scale(0.8);
}

#fileName {
  margin-top: 10px;
  font-size: 14px;
  color: var(--accent-color);
  display: inline-block;
  font-weight: bolder;
}

.product-form input::placeholder {
  color: var(--accent-color);
  font-weight: bolder;
}

.product-form button {
  background-color: var(--accent-color);
  color: var(--input-color);
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  width: 100%;
  height: 50px;
  margin-top: 10px;
}
.product-form button:active {
  transform: scale(0.8);
}

#update-button {
  background-color: var(--accent-color) !important;
  color: var(--input-color) !important;
}

#cancel-button,
#cancel-customer-btn,
#cancel-debt-btn {
  background-color: transparent !important;
  color: var(--text-color) !important;
  border: 4px groove var(--input-color) !important;
}

#remove-button,
#remove-customer-btn {
  background-color: var(--accent-color) !important;
  color: red !important;
}

#cartName:disabled{
  background-color: lightgoldenrodyellow;
  color: var(--text-color);
}

.cart-products-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.cart-img-container{
  max-height: 100%;
  background-color: var(--input-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
#cart-icon{
  width: auto;
  height: 100px;
  filter: invert(86%) sepia(10%) saturate(300%) hue-rotate(210deg);
}
.flying-cart-image {
  position: absolute;
  transition: transform 1.7s ease-in-out;
  pointer-events: none;
  z-index: 1000;
  opacity: 1 !important;
}

.cart-product-card {
  display: flex;
  border: 3px solid var(--accent-color);
  width: 100%;
  max-width: 515px;
}
.left {
  border-right: 3px solid var(--accent-color);
  width: 50%;
  height: auto;
}

.left img {
  display: block;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

.right {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: auto;
  border-right: 3px solid var(--accent-color);
}

.add-to-cart-btn {
  height: 100%;
  width: 100%;
  border: none;
  background-color: lightgreen;
}
.add-to-cart-btn:active{
  transform: scale(1.1);
}

.cart-display-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid var(--accent-color);
  border-radius: 10px;
  background-color: var(--input-color);
  gap: 5px;
}
.cart-display-container p{
  margin: 0;
}
.cart-details{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 3px solid var(--accent-color);
}
.cart-products-list{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 3px solid var(--accent-color);
  border-radius: 5px;
}

.customer-table {
  width: 100%;
  max-width: 100%; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

.customer-table p{
  border: 1px solid black;
  background-color: var(--accent-color);
  color: var(--text-color);
  margin: 0px;
}
.customer-table .debt-actions{
  background-color: var(--accent-color);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}
.customer-table .debt-actions button{
  width: 90%;
  border: 1px solid var(--text-color);
  background-color: var(--accent-color);
  color: var(--btnText-color);
  font-weight: bolder;
  font-size: 20px;
}

.add-debt:active, .export:active{
  transform: scale(0.90);
}

.customer-table table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
}

.customer-table th {
  background-color: var(--accent-color);
  color: var(--text-color);
  font-size: 1em;
  text-align: left;
  border: 1px solid black;
  padding: 5px;
}


.customer-table td {
  text-align: left;
  vertical-align: top; 
  background-color: var(--input-color);
  border: 1px solid var(--text-color);
  color: var(--text-color);
  padding: 5px;
  font-size: 0.8em;
  word-wrap: break-word; 
  word-break: break-word; 
  white-space: normal; 
  max-width: 100px;
  padding: 2px;
  border: 1px solid #000;
  height: auto;          
  box-sizing: border-box;
}


.customer-table td:last-child {
  padding: 0; 
  height: 100%; 
  position: relative;
  height: 100%;
  background-color: lightgray;
}

.customer-table .remove-debt-btn {
  width: 100% !important;
  height: 100% !important;
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  border: none;
  font-size: 0.8em;
  background-color: lightgray;
}

.customer-table .remove-debt-btn:active {
  transform: scale(0.90);
}

.section-title {
  text-align: center;
  font-size: 2rem;
  color: var(--text-color);
}

.filter-options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  color: var(--text-color);
  width: 100%;
}

.filter-group {
  width: 100%;
}

.filter-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  width: 100%;
  color: var(--text-color);
}

.filter-group select {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: var(--input-color);
  background-color: var(--accent-color);
  font-weight: bolder;
}

.category-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#categorySearch,
#categorySelect,
#addCategoryBtn {
  width: 100%;
  padding: 10px;
  font-size: 16px;
}

#categorySelect {
  background-color: var(--input-color);
  border: 1px solid #ccc;
  border-radius: 5px;
}

.filter-options button {
  padding: 5px 0;
}

.export-product-btn{
  background: var(--accent-color);
  color: var(--btnText-color);
  border: 2px solid var(--input-color);
  border-radius: 12px;
  width: 100%;
  font-weight: bolder;
}

.bootstrap-tagsinput {
  width: 100%;
  height: 30px;
  margin-bottom: 20px;
  border: 2px solid var(--accent-color);
  border-radius: 5px;
  background-color: var(--input-color);
  color: var(--accent-color);
  font-size: 16px;
}

.search-customer-container {
  width: 100% !important;
  margin-bottom: 5px;
}

.search-bar {
  text-align: left;
  background-color: transparent !important;
  color: var(--input-color);
  padding-left: 30px;
  width: 100%;
}

.search-bar::placeholder {
  text-align: left;
  color: var(--input-color);
}

.customers-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(50px, 1fr);
  width: 100%;
  gap: 5px;
  overflow-x: hidden;
}

.customers-card {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  text-align: center;
  border-bottom: 1px solid var(--input-color);
  align-items: center;
  gap: 1px;
}
.customers-card:active{
  transform: scale(0.8);
}

.customer-name,
.customer-phone {
  width: 100%;
  height: 100%;
  padding-left: 5px;
  background-color: var(--accent-color);
  display: flex;
  align-items: center;
}


.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 10px;
  background-color: transparent;
  width: 100%;
}

.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 4px groove var(--accent-color);
  border-radius: 10px;
  background-color: transparent;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  padding: 7px;
  gap: 5px;
  min-height: 180px;
  transition: transform 0.2s ease-in-out;
}

.product-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.product-card img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border: 4px groove var(--accent-color);
  border-radius: 5px;
}

.product-details {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 4px solid var(--accent-color);
  border-radius: 5px;
  background-color: var(--input-color);
  color: white;
  text-align: left;
  padding-left: 5px;
  font-size: 5px;
}


.product-card p,
.customers-card p {
  font-size: 12px;
  color: var(--text-color);
  height: 20px;
  margin-bottom: 0px;
}

.product-card p strong,
.customers-card p strong {
  color: var(--text-color);
  text-align: left;
}