@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --accent-color: #708090;
  --text-color: #000000;
  --input-color: #ffffff;
  --btnText-color: rgb(0, 157, 255);
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: Poppins, Segoe UI, sans-serif;
  font-size: 12pt;
  color: var(--text-color) !important;
  text-align: center;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "navbar"
    "main"
    "footer";
  background: url("../images/background10.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  overflow: hidden;
  touch-action: manipulation;
}

.action-btn{
  background-color: var(--accent-color);
  color: var(--input-color);
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  width: 100%;
  height: 50px;
  margin-top: 10px;
}

/* Button Styling */
.func-btn {
  width: 100%;
  border: none;
  background-color: transparent;
  color: var(--text-color);
  border: 5px groove var(--input-color);
  border-radius: 10px;
  font-weight: bolder;
  padding: 7px;
  transition: transform 0.1 ease-in-out;
}
.func-btn:active, .action-btn:active {
  transform: scaleY(0.8);
}

/* Overlay styling */
#loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  transition: opacity 0.5s ease;
}

.progress-container {
  width: 80%;
  max-width: 300px;
  height: 30px;
  position: relative;
  background-color: #ddd;
  border-radius: 6px;
  overflow: hidden;
  font-family: sans-serif;
}

#progress-bar {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0%;
  background-color: #4CAF50;
  transition: width 0.4s ease;
  z-index: 1;
}

.progress-text {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
  font-weight: bold;
  color: black;
  z-index: 2;
  pointer-events: none;
}

/* Sidebar */
#sidebar {
  position: fixed;
  top: 0;
  left: -50%;
  height: 100vh;
  width: 50%;
  max-width: 300px;
  background-color: var(--accent-color);
  box-shadow: 2px 0 12px rgba(0, 0, 0, 0.2);
  transition: left 0.3s ease-in-out;
  z-index: 1001;
  padding: 3px;
  display: flex;
  flex-direction: column;
}

.store-name{
  position: absolute;
  top: 0px;
  left: 10px;
  width: fit-content !important;
  color: var(--input-color);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9);
  font-size: 25px;
  font-weight: bolder;
}

#sidebar .side-links-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  padding: 0px;
  width: 100%;
}

.sidebar-link {
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--input-color);
  width: 100%;
  border-top: 1px solid var(--input-color);
  padding: 10px 7px;
}

.sidebar-link:first-child {
  border-top: none;
}

#sidebar.active {
  left: 0;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1000;
  display: none;
}

#overlay.active {
  display: block;
}

#close-btn {
  background: none;
  border: none;
  align-self: flex-end;
  margin-bottom: 1rem;
}

/* PDF Layout */
.container {
  max-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.header-container {
  display: flex;
  justify-content: flex-start;
  position: relative;
  width: 100%;
  border-bottom: 1px solid var(--text-color);
  padding: 0 20px 20px 20px;
  font-weight: bolder;
}

.header-container button {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  border-radius: 10px;
  border: 4px groove var(--input-color);
  color: var(--text-color);
  background-color: transparent;
  font-weight: bolder;
}
.container .header-container {
  padding: 20px;
  margin-bottom: 10px;
  font-size: 1.5rem;
}

.container #done-btn {
  top: 15px;
  right: 60px;
  width: 35%;
  height: 40px;
  font-size: large;
}

.container h2 {
  padding: 1rem;
  margin: 1rem;
  font-size: 1.3rem;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  font-family: sans-serif;
}

.container hr {
  margin: 20px 0;
  width: 100%;
  height: 2px;
  background-color: var(--accent-color);
}

.container form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 10px;
  width: auto;
  padding: 0 20px 50px 20px;
}

.button-selector{
  display: flex;
  gap: 4px;
  margin-bottom: 10px;
  width: 100%;
}
.button-selector button{
  padding: 16px 16px;
  font-weight: bolder;
  font-size: 1rem;
  flex-grow: 1;
  border: 1px solid #ccc;
  background: white;
  color: var(--text-color);
  cursor: pointer;
  border-radius: 6px;
  transition: all 0.2s ease;
}
.align-btn.selected, .currency-btn.selected {
  background-color: var(--accent-color);
  color: white;
  border-color: var(--accent-color);
}

.container label {
  font-weight: bold;
  display: flex;
  justify-content: flex-start;
}

.container input{
  width: 100%;
  height: 50px;
  font-size: 20px;
  margin-bottom: 10px;
}

.container input[type="color"]{
  border: none !important;
}

.container button:active {
  transform: scaleY(0.8);
}

.themes-combos{
  display: flex;
  flex-direction: column;
}
.combo-btn {
  border: 2px solid transparent;
  padding: 5px;
  margin: 5px 0;
  cursor: pointer;
  display: flex;
}
.combo-btn.selected {
  border-color: var(--accent-color);
}
.combo-btn div {
  width: 100%;
  height: 50px;
}

/* FeedBack Section */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  background-color: var(--text-color);
  color: var(--accent-color);
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  text-align: center;
}

.close-modal {
  float: right;
  font-size: 25px;
  cursor: pointer;
  color: var(--accent-color);
}

#feedback-text {
  width: 100%;
  height: 100px;
  padding: 10px;
  border-radius: 5px;
  background-color: var(--accent-color);
  color: var(--input-color);
}

#feedback-text::placeholder {
  color: var(--input-color);
}

#submit-feedback {
  background-color: var(--accent-color);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.feedback-message {
  color: Yellow;
}

/* Help Section */
.help-section {
  font-family: 'Times New Roman', Times, serif;
  line-height: 1.6;
  padding: 20px;
  max-width: fit-content;
  max-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  font-size: 13px;
}

.help-section h1 {
  color: var(--text-color);
  padding: 0.5rem;
  font-size: 1.3rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  font-family: sans-serif;
  font-weight: bolder;
}
.app-description{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.app-header, .app-overview, .app-benefits{
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  background-color: var(--input-color);
}
.app-title{
  border-bottom: 1px solid black;
  padding: 10px;
}
.app-subtitle{
  padding: 10px;
  text-align: left;
  border-radius: 15px;
}
.help-section ul li{
  list-style-type:decimal;
  text-align: left;
  line-height: normal;
}

.help-section h3 {
  font-size: 1.5em;
  margin-top: 20px;
  margin-bottom: 10px;
}

.help-section p {
  font-size: 1.2em;
  margin-bottom: 15px;
}

.help-section ul {
  list-style-type: disc;
  margin-left: 20px;
  font-size: 1.2em;
}

.help-section li {
  margin-bottom: 10px;
}


/* Top Nav */
nav {
  height: 5rem;
  top: 0;
  position: sticky;
  grid-area: navbar;
  background-color: transparent;
  color: var(--text-color);
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  z-index: 10;
  padding: 5px;
}

.search-container-main {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: var(--accent-color);
  border-radius: 5px;
  height: 50px;
  width: 100%;
}

.search-container {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: var(--accent-color);
  border-radius: 1px;
  padding: 5px 10px;
  width: 90%;
}

.search-bar {
  flex: 1;
  border: none;
  outline: none;
  font-size: 20px;
  margin-left: 20px;
  padding: 5px;
  font-weight: bold;
}

.search-icon {
  position: absolute;
  left: 10px;
  width: 10%;
  height: 30px;
  cursor: pointer;
  filter: brightness(0) invert(1);
}

.menu-btn {
  margin-left: 5px;
  background-color: var(--accent-color);
  width: 50px;
  height: 40px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.menu-btn img {
  width: 70%;
  height: 70%;
  filter: brightness(0) invert(1);
}

.top-bar{
  width: 20%;
  height: 91%;
  position: absolute;
  top: 2px;
  right: 2px;
}
.currency-toggle-btn{

  width: 100%;
  height: 100%;
  border: none;
  border-radius: 5px;
  background-color: var(--input-color);
  color: var(--accent-color);
  text-align: center;
}

.theme-switch-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.theme-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 32px;
}

.theme-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.sliderr {
  background-color: var(--accent-color);
  border-radius: 34px;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: background-color 0.4s;
}

.sliderr::before {
  content: "";
  position: absolute;
  height: 28px;
  width: 28px;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  background-color: white;
  transition: transform 0.4s;
}

input:checked+.sliderr {
  background-color: var(--accent-color);
}

input:checked+.sliderr::before {
  transform: translateX(28px);
}

@media (max-width: 800px) {
  body {
    grid-template-columns: 1fr;
  }
}

/* Main Content */
main {
  grid-area: main;
  color: var(--text-color);
  width: 100vw;
  overflow: auto;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  padding: 20px;
  background-color: transparent;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: calc(100vh - 10rem);
  width: 100%;
}

footer {
  position: sticky;
  bottom: 0;
  background-color: transparent;
  grid-area: footer;
  height: 5rem;
  z-index: 10;
}

.bottom-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  bottom: 0;
  border-top: 1px double var(--input-color);
  box-sizing: border-box;
  left: 0;
  width: 100%;
  z-index: 11;
  height: 5rem;
  background: rgba(255, 255, 255, 0.1);
  transition: background 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

/* Bot Nav */
.nav-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  position: relative;
  bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.nav-btn img {
  width: 24px;
  height: 24px;
  filter: grayscale(100%) opacity(0.6);
  transition: filter 0.3s ease-in-out, opacity 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.nav-btn.active img {
  filter: brightness(0);
  opacity: 1;
  transform: translateY(35%);
}

.active-indicator {
  content: "";
  height: 3px;
  position: absolute;
  background-color: var(--text-color);
  top: 0;
  left: 0;
  transform: translateX(0);
  transition: transform 0.1s;
}

.pop {
  border: none;
  background-color: transparent;
  display: flex;
  align-items: flex-start;
}

.pop.active {
  transform: rotate(45deg);
}

.pop img {
  width: 50px;
  height: 50px;
  margin: 10px;
  filter: invert(34%) sepia(12%) saturate(193%) hue-rotate(172deg) brightness(91%) contrast(88%);
}

/* Slider */
.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border: 3px solid black;
  bottom: 15px;
  width: 220px;
  height: 70px;
  border-radius: 100%;
  transform: translate(0) scale(0);
  background: transparent;
  transition: all 0.7s ease-in-out;
  box-sizing: border-box;
}

.slider.active {
  transform: translateY(-5rem) scaleX(1.1);
  border-radius: 20px;
  backdrop-filter: blur(2px);
  border-top: 1px solid var(--text-color);
  border-bottom: 1px solid var(--text-color);
  padding-left: 10px !important;
}

.slider button {
  border: 1px solid var(--text-color);
  background-color: var(--accent-color);
  position: absolute;
  opacity: 1;
  left: 0;
  border-radius: 15px;
  transition: transform 1s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  box-sizing: border-box;
}

.slider button img {
  width: 25px;
  height: 25px;
  object-fit: contain;
}

.slider.active button:nth-child(1) {
  transition-delay: 0.1s;
  transform: translateX(10px);
  opacity: 1;
}

.slider.active button:nth-child(2) {
  transition-delay: 0.2s;
  transform: translateX(60px);
  opacity: 1;
}

.slider.active button:nth-child(3) {
  transition-delay: 0.3s;
  transform: translateX(110px);
  opacity: 1;
}

.slider.active button:nth-child(4) {
  transition-delay: 0.4s;
  transform: translateX(160px);
  opacity: 1;
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  align-items: center;
}

/* Products Section */
.filter-options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  color: var(--text-color);
  width: 100%;
}

.filter-group {
  width: 100%;
}

.filter-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  width: 100%;
  color: var(--text-color);
}

.button-group {
  display: flex;
  gap: 2px;
}

.filter-btn {
  display: flex;
  flex-grow: 1;
  padding: 6px;
  border: none;
  background-color: var(--accent-color);
  color: var(--text-color);
  border-radius: 6px;
  cursor: pointer;
  font-size: 15px;
}

.filter-btn.selected {
  background-color: var(--accent-color);
  color: var(--input-color);
  font-weight: 900;
}

.filter-group select {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: var(--input-color);
  background-color: var(--accent-color);
  font-weight: bolder;
}

.category-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#categorySearch,
#categorySelect,
#addCategoryBtn {
  width: 100%;
  padding: 10px;
  font-size: 16px;
}

#categorySelect {
  background-color: var(--input-color);
  border: 1px solid #ccc;
  border-radius: 5px;
}

.products-actions {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.products-actions button {
  width: 50%;
  font-size: 1.1rem;
  transition: transform 0.1 ease-in-out;
}

.products-actions button:active {
  transform: scaleY(0.8);
}

.products-actions .export-btn {
  padding: 7px;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 10px;
  background-color: transparent;
  width: 100%;
}

.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 4px solid var(--accent-color);
  border-radius: 10px;
  background-color: transparent;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  padding: 7px;
  gap: 5px;
  min-height: 180px;
  transition: transform 0.2s ease-in-out;
}

.product-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.product-card img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border: 4px solid var(--accent-color);
  border-radius: 5px;
}

.product-details {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 4px solid var(--accent-color);
  border-radius: 5px;
  background-color: var(--input-color);
  color: white;
  text-align: left;
  padding-left: 5px;
  font-size: 5px;
}

.product-card p,
.customers-card p {
  font-size: 12px;
  color: var(--text-color);
  height: 20px;
  margin-bottom: 0px;
}

.product-card p strong,
.customers-card p strong {
  color: var(--text-color);
  text-align: left;
}

/* Customer Section */
.search-customer-container {
  width: 100% !important;
  margin-bottom: 5px;
}

.search-bar {
  text-align: left;
  background-color: var(--accent-color);
  color: var(--input-color);
  padding-left: 30px;
  width: 100%;
}

.search-bar::placeholder {
  text-align: left;
  color: var(--input-color);
}

.customers-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(50px, 1fr);
  width: 100%;
  gap: 5px;
  overflow-x: hidden;
}

.customers-card {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  text-align: center;
  border-bottom: 1px solid var(--input-color);
  align-items: center;
  gap: 1px;
  transition: transform 0.1 ease-in-out;
}

.customers-card:active {
  transform: scaleY(0.8);
}

.customer-name,
.customer-phone {
  width: 100%;
  height: 100%;
  padding-left: 5px;
  background-color: var(--accent-color);
  color: var(--input-color);
  display: flex;
  align-items: center;
}

.customer-table {
  width: 100%;
  max-width: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

.customer-table table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
}

.customer-table p {
  border: 1px solid black;
  background-color: var(--accent-color);
  color: var(--input-color);
  margin: 0px;
}

.customer-table th {
  background-color: var(--accent-color);
  color: var(--input-color);
  font-size: 1em;
  text-align: center;
  border: 1px solid black;
  padding: 5px;
}

#debt-details-table tr:nth-child(odd) {
  background-color: var(--input-color);
}

#debt-details-table tr:nth-child(even) {
  background-color: rgb(230, 230, 210);
}

.customer-table td {
  text-align: center;
  border: 1px solid var(--text-color);
  color: var(--text-color);
  padding: 5px;
  font-size: 0.8em;
  word-wrap: break-word;
  max-width: 120px;
  padding: 4px;
  height: 100%;
  border: 1px solid #000;
  box-sizing: border-box;
}

#debt-details-table tr td:last-child {
  background-color: lightgray;
  padding: 0;
  height: 40px;
  box-sizing: border-box;
}

#debt-details-table .remove-debt-btn {
  color: red;
  width: 100%;
  height: 100%;
  background-color: lightgray;
  border: none;
}

.customer-table .remove-debt-btn:active {
  transform: scaleY(0.8);
}

.customer-table .debt-actions {
  background-color: var(--accent-color);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.customer-table .debt-actions button {
  width: 90%;
  background-color: var(--accent-color);
  border: none;
  border: 1px solid var(--text-color);
  color: var(--btnText-color);
  font-weight: bolder;
  font-size: 20px;
}

/* CartsAndSales Section */
/* Sales Section */
.sales-container {
  width: 100%;
  max-width: 100%;
}

.sales-table-container {
  width: 100%;
}

.sales-table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
}

.sales-table th {
  border: 1px solid var(--text-color);
  background-color: var(--accent-color);
  color: var(--input-color);
  font-size: 0.7em;
  padding: 0 5px;
}

.sales-table tr {
  background-color: var(--input-color);
}

.sales-table tr:nth-child(even) {
  background-color: rgb(230, 230, 210);
}

.sales-table tr,
.sales-table td {
  border: 1px solid var(--text-color);
  font-size: 0.8em;
  word-break: break-all;
  padding: 3px;
}

.sales-table tfoot tr {
  background-color: var(--accent-color);
  color: var(--input-color);
  font-size: 0.8em;
}

.table-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-color: var(--accent-color);
  border: 1px solid var(--text-color);
  padding: 5px;
}

.export-sales {
  background: linear-gradient(to right, white, rgb(255, 243, 177));
  border: 1px solid var(--text-color);
  color: var(--btnText-color);
  border-radius: 5px;
  width: 50%;
  transition: transform 0.1s ease-in-out;
}

.export-sales:active {
  transform: scaleY(0.8);
}

/* Carts Section */
.carts-container {
  width: 100%;
}

.carts-table {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Individual Cart */
.cart-entry {
  border: 1px solid #ccc;
  border-radius: 8px;
  color: var(--input-color);
  background-color: var(--accent-color);
  transition: background 0.3s ease;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  border-bottom: 3px solid var(--input-color);
  border-radius: 8px;
}

/* Summary Header */
.cart-summary {
  border-bottom: 3px solid var(--input-color);
  padding: 10px;
  background-color: var(--accent-color);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
}

.cart-summary p {
  margin: 5px 0;
}

.hidden-products {
  max-height: 0;
  overflow: hidden;
  transition: all 0.7s ease-in-out;
  width: 100%;
  margin-top: 10px;
  overflow-x: auto;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.hidden-products.show {
  max-height: 300px;
  padding-bottom: 10px;
}

.product-item {
  background-color: var(--input-color);
  color: var(--text-color);
  border-radius: 8px;
  padding: 8px;
  min-width: 150px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.9);
  flex-shrink: 0;
}

.product-item p {
  margin: 0;
  padding: 0;
  font-size: 0.8em;
}


/* Adder Section */
/* addProduct - addCustomer - Edit Customer*/
.product-form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 5px;
  background-color: transparent;
  color: var(--text-color);
  width: 100%;
  padding: 2px;
  border-radius: 10px;
  text-align: left;
}

.product-form label {
  display: block;
  font-weight: bold;
}

.product-form input {
  width: 100%;
  height: 50px;
  margin-bottom: 0px;
  border: 2px solid var(--accent-color);
  border-radius: 5px;
  background-color: var(--input-color);
  color: var(--accent-color);
  font-size: 20px;
  font-weight: bolder;
}

.file-input {
  display: none;
}

#customFileButton {
  background-color: var(--accent-color);
  color: var(--input-color) !important;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  width: 100%;
  margin-bottom: 20px;
}

#customerFileButton:active {
  transform: scale(0.8);
}

#fileName {
  margin-top: 10px;
  font-size: 14px;
  color: var(--accent-color);
  display: inline-block;
  font-weight: bolder;
}

.bootstrap-tagsinput {
  width: 100%;
  height: 30px;
  margin-bottom: 20px;
  border: 2px solid var(--accent-color);
  border-radius: 5px;
  background-color: var(--input-color);
  color: var(--accent-color);
  font-size: 16px;
}

.product-form input::placeholder {
  color: var(--accent-color);
  font-weight: bolder;
}

#remove-button,
#remove-customer-btn {
  background-color: var(--accent-color) !important;
  color: red !important;
}

.input-error {
  border: 2px solid #e74c3c !important;
}

.error-text {
  color: #e74c3c;
  font-size: 12px;
  margin-left: 5px;
}

/* Adder Section */
/* addCart - addSales*/
#cartName:disabled {
  background-color: lightgoldenrodyellow;
  color: var(--text-color);
}

#cart-icon {
  width: 30px;
  height: 30px;
  display: inline-block;
  justify-content: center;
  align-items: center;
  position: relative;
  filter: invert(86%) sepia(10%) saturate(300%) hue-rotate(210deg);
}

#cart-icon img {
  filter: brightness(100) invert(1);
}

.cart-badge {
  position: absolute;
  top: 0px;
  right: 0px;
  background: red;
  color: white;
  font-size: 10px;
  padding: 2px 2px;
  border-radius: 50%;
  transform: translate(50%, -50%);
  z-index: 1;
}

.fly-img {
  position: fixed;
  z-index: 1000;
  transition: all 0.7s ease-in-out;
  pointer-events: none;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

#cart-icon.pulse {
  animation: pulse 0.7s ease-in-out;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  50% {
    transform: scale(1.3);
    opacity: 0.5;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.cart-products-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.cart-product-card {
  display: flex;
  border: 3px solid var(--accent-color);
  width: 100%;
  max-width: 515px;
}

.left {
  border-right: 3px solid var(--accent-color);
  width: 50%;
  height: auto;
}

.left img {
  display: block;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

.right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: auto;
  border-right: 3px solid var(--accent-color);
}

.no-products-message {
  padding: 1rem;
  text-align: center;
  color: yellow;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9);
  margin-top: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.9);
}

.add-to-cart-btn {
  width: 100%;
  height: 100%;
  border: none;
  background-color: lightgreen;

}

.cancel-sale-btn {
  border: none;
  height: 50%;
  width: 100%;
  background-color: rgb(252, 47, 47);
}

.cart-display-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid var(--accent-color);
  border-radius: 10px;
  background-color: var(--input-color);
  gap: 5px;
}

.cart-display-container p {
  margin: 0;
}

.cart-details {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 3px solid var(--accent-color);
}

.cart-products-list-container {
  width: 100%;
}

.cart-products-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 3px solid var(--accent-color);
  border-radius: 5px;
}

#export-cart {
  width: 96%;
  padding: 10px 0 !important;
  margin: 10px 0;
}

/* Dashboard Section */
.inventory-analytics {
  width: 100%;
}

.inventory-analytics hr {
  width: 100%;
  opacity: 1;
  margin: 30px 0;
}

.inventory-analytics h2 {
  color: var(--text-color);
  width: 100%;
  padding: 1rem;
  font-size: 1.3rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  font-family: sans-serif;
  font-weight: bolder;
}

canvas {
  width: 100% ;
  height: auto !important;
}

#categoryChart {
  height: 100% !important;
  width: 100% !important;
}

#sales-trend {
  width: 100%;
}

#sales-trend {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#sales-trend p {
  margin: 0;
}

.profit-growth {
  color: rgb(0, 255, 34);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}

.products-sold-growth {
  color: rgba(255, 159, 64, 1);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.filter-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}

.filter-container label {
  font-weight: bolder;
  padding: 0;
}

.profitability-analysis p {
  margin: 0;
}

.profitability-analysis p strong {
  color: rgb(75, 192, 192);
}

.product-lifecycle-analysis {
  width: 100%;
}

.product-lifecycle-analysis p strong {
  color: rgba(54, 162, 235, 1);
}

#profit-margin-chart-container {
  width: 100%;
  overflow-x: auto;
}

#profitMarginChart {
  width: max-content;
}

.export-btn {
  color: var(--btnText-color);
  background: linear-gradient(to right, white, rgb(255, 243, 177));
  padding: 10px;
  border-radius: 10px;
  border: 5px groove var(--input-color);
  font-weight: bolder;
  transition: transform 0.1s ease-in-out;
}

.export-btn:active {
  transform: scaleY(0.8);
}

.metrics-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.metric-box {
  flex: 1 1 calc(50% - 1rem);
  /* Two columns */
  background-color: var(--accent-color);
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  font-size: 1.1rem;
}

.low-stock-table {
  width: 100%;
  border-collapse: collapse;
}

.low-stock-table th {
  color: var(--input-color);
  background-color: var(--accent-color);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9);
}

.low-stock-table th,
.low-stock-table td {
  padding: 2px;
  text-align: left;
  border: 1px solid var(--text-color);
  width: 50%;
}

.low-stock-table td:nth-child(1) {
  background-color: var(--accent-color);
  color: var(--text-color);
}

.low-stock-table td:nth-child(2) {
  background-color: var(--input-color);
  color: var(--text-color);
}

.low-stock-list-table {
  width: 100%;
  border-collapse: collapse;
}

.low-stock-list-table th {
  background-color: var(--accent-color);
  border: 1px solid var(--text-color);
  color: var(--input-color);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9);
}

.low-stock-list-table td {
  text-align: left;
  border: 1px solid var(--text-color);
  padding: 5px;
  width: 50%;
}

.low-stock-list-table tr:nth-child(odd) {
  background-color: var(--input-color);
}

.low-stock-list-table tr:nth-child(even) {
  background-color: rgb(230, 230, 210);
}